<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/style :: head}"></div>
    <title>Games</title>
</head>

<body>

    <!-- frammenti header e navbar -->
    <div th:replace="~{fragments/header :: header('Questa è la index games')}"></div>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <main>
        <div class="container">
            <div class="row">
                <div class="d-flex justify-content-between align-items-center my-4">

                    <!-- ricerca per nome -->
                    <div class="d-flex flex-column">
                        <form th:action="@{/games/search-by-name}" class="d-flex" method="get">
                            <input type="text" class="form-control mx-3" id="name-search" name="name"
                                placeholder="Search by name...">
                            <input type="submit" class="btn bg-accent1" value="Search">
                        </form>
                    </div>

                    <!-- bottone create -->
                    <div>
                        <a sec:authorize="hasAuthority('ADMIN')" class="btn bg-success" th:href="@{/games/create}">
                            Add a game
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center mx-0">

            <!-- lista giochi -->
            <div class="col" th:each="game : ${games}" th:object="${game}" th:if="${games.size() > 0}">
                <div class="card align-items-center px-4 bg-card">
                    <a th:href="|/games/*{id}|" class="text-decoration-none txt-primary">
                        <p class="card-title fw-bold py-2">
                            [[*{name}]]
                        </p>
                        <img class="img-fluid same-height" th:src="*{url}" th:alt="*{name}">
                        <p class="card-text py-2">
                            <strong>Price: </strong>[[*{price}]]€
                        </p>
                    </a>
                    
                    <!-- bottoni edit e delete -->
                    <div sec:authorize="hasAuthority('ADMIN')" class="d-flex pb-3 w-100 justify-content-evenly">
                        <a th:href="@{/games/edit/{id}(id=${game.id})}" class="btn bg-divider">
                            Edit
                        </a>

                        <a th:href="@{/games/{id}/sale(id=${game.id})}" class="btn bg-success txt-primary">
                            On sale
                        </a>

                        <!-- bottone con modale -->
                        <button sec:authorize="hasAuthority('ADMIN')" type="button" class="btn bg-error" data-bs-toggle="modal"
                            th:data-bs-target="'#delete-modal-' + ${game.id}">
                            Delete
                        </button>

                        <!-- modale di bootstrap -->
                        <div class="modal fade" th:id="delete-modal- + ${game.id}" tabindex="-1"
                            aria-labelledby="delete-modal-" aria-hidden="true">
                            <div class="modal-dialog modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                                            Delete "[[${game.name}]]"
                                        </h1>
                                    </div>
                                    <div class="modal-body">
                                        This game will be permanently deleted. Are you sure you want to proceed?
                                    </div>
                                    <div class="modal-footer">

                                        <!-- vero bottone di cancellazione -->
                                        <form class="d-inline-block" th:action="@{/games/delete/{id}(id=${game.id})}"
                                            method="post">
                                            <button type="submit" class="btn bg-error">
                                                Delete
                                            </button>
                                        </form>

                                        <!-- bottone che fa uscire dalla modale -->
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            <span aria-hidden="true">
                                                Close
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- #region errori -->
        <div class="row flex-column">

            <!-- messaggio errore -->
            <div class="d-flex my-5 justify-content-center align-content-center" th:if="${games.isEmpty()}">
                <h1>
                    No games found
                </h1>
            </div>

            <!-- messaggio errore db vuoto -->
            <div class="d-flex my-5 justify-content-center align-content-center vh-100" th:unless="${games.size() > 0}">
                <p class="fs-2">
                    There are no games available at the moment.
                </p>
            </div>
        </div>

        <!-- #endregion errori -->
    </main>

    <!-- frammento footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>