<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar fragment</title>
</head>

<body>
    <th:block th:fragment="navbar">
        <nav class="navbar navbar-expand-sm navbar-light bg-card">
            <div class="container-fluid mx-4">
                <a class="navbar-brand txt-primary" th:href="@{/}">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
                    aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarID">
                    <div sec:authorize="hasAnyAuthority('USER', 'ADMIN')" class="navbar-nav">
                        <a class="nav-link active txt-secondary" aria-current="page" th:href="@{/games}">Your games</a>
                    </div>
                    <div sec:authorize="hasAuthority('ADMIN')" class="navbar-nav">
                        <a class="nav-link active txt-secondary" aria-current="page" th:href="@{/tags}">Your tags</a>
                    </div>
                    <div sec:authorize="hasAuthority('ADMIN')" class="navbar-nav">
                        <a class="nav-link active txt-secondary" aria-current="page" th:href="@{/platforms}">Your
                            platforms</a>
                    </div>
                </div>
                <div sec:authorize="isAuthenticated()" class="user-info">
                    Logged user: <span sec:authentication="name" class="fw-bold me-2 txt-success">
                    </span>
                    <a class="btn btn-sm bg-accent2" href="/logout">
                        Logout
                    </a>
                </div>
                <div sec:authorize="isAnonymous()" class="login">
                    <a class="btn btn-sm bg-accent1" href="/login">
                        Login
                    </a>
                </div>
            </div>
        </nav>
    </th:block>
</body>

</html>